.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

p {
  text-align: center;
}

.TiArrowSortedUp {
  font-size: 15;
}

.TiArrowSortedDown {
  font-size: 15;
}

.comment {
  text-align: center;
}

.addComment {
  text-align: center;
}

.category-list {
  margin-left: 20%;
  margin-right: 20%;
}

Form {
  margin-top: 2%;
}

.add-post-input-container {
  width: 100%;
  text-align: center;
}

.input-title {
  margin-left: 35%;
  margin-right: 30%;
  display: block;
  width: 30%;
}

.input-body {
  width: 30%;
  margin-left: 35%;
  margin-right: 30%;
  display: block;
  height: 200px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-update-title {
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.input-update-body {
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  height: 200px;
  white-space: pre-wrap;
}

.add-post-input {
  display: inline-block;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
}

.update-comment-input {
  width: 40%;
  height: 80px;
  margin-bottom: 1%;
}

.add-comment-input-author {
  margin-left: 35%;
  margin-right: 30%;
  width: 30%;
  margin-bottom: 1%;
  display: block;
}

.add-comment-input-body {
  width: 30%;
  margin-left: 35%;
  margin-right: 30%;
  height: 80px;
  margin-bottom: 1%;
  display: block;
}

.add-new-comment-button {
  margin-bottom: 1%;
}

.add-post-container {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.add-post-icons {
  width: 100%;
}

.add-post-icon {
  margin-top: 2%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  display: inline-block;
}

.master-delete-post-button {
  float: right;
  margin-right: 10%;
}

.vote-button {
  display: inline-block;
  font-size: 12px;
  margin-left: 0.3%;
  margin-right: 0.2%;
}

.comment-button {
  margin-left: 0.3%;
  margin-right: 0.3%;
  display: inline-block;
  font-size: 12px;
}

.post {
  text-align: center;
  font-family: 'Didact Gothic';
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.post-author {
  font-size: 15px;
  font-style: italic;
}

.post-body {
  width: 60%;
  white-space: pre-wrap;
}

.comment-author {
  display: inline-block;
  margin-right: 25%;
  font-style: italic;
}

.comment-vote {
  display: inline-block;
  margin-right: 1%;
}

.add-comment-button {
  display: inline-block;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

.back-button {
  display: inline-block;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.post-body {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
}

h2 {
  display: inline-block;
}

h5 {
  display: inline-block;
  margin-left: 5%;
  margin-right: 0.8%;
  border-radius: 90%;
  padding: 10px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
}

textarea {
  white-space: pre-wrap;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
